.report {
    min-height: 1290px;
    margin-top: 90px;

    &__header {
        position: relative;
        &__wrapper {
            display: flex;
            // justify-content: space-between;
            align-items: end;
        }

        &__item {
            &__title {
                max-width: 180px;
                color: $dark-gray-ease;
                font-family: Nunito;
                font-size: 20px;
                font-weight: 400;
                line-height: 130%;
            }

            &__line {
                margin-top: 17px;
            }

            &__line-last {
                margin-top: 12px;
            }
        }
        &__item-name {
            width: 36%;
        }

        &__item-code {
            width: 7%;
            margin-left: 5%;
        }

        &__item-date {
            width: 34%;
            margin-left: 18%;

            &__date-forms-wrapper {
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }

        &__item-date-mobile {
            display: none;
        }

        &__plug-upload {
            margin-top: 12px;
            position: absolute;
            right: 0;
        }

        &__btns {
            width: 212px;
            position: absolute;
            bottom: -44px;
            right: 0;
            display: flex;
            justify-content: space-between;
        }

        &__btn {
            border-color: $cyan-ease;
            color: $cyan-ease;
            text-align: center;
            font-family: Nunito;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            text-transform: none;
            border-top-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-left-width: 15px;

            &:first-child {
                width: 46px;
                height: 32px;
            }

            &:last-child {
                width: 154px;
                height: 32px;
                line-height: 16px;
                font-size: 16px;
            }
        }
    }

    &__table {
        margin-top: 84px;

        &__title {
            margin-left: 22px;
            color: $deep-blue;
            font-family: Source Sans Pro;
            font-size: 24px;
            font-weight: 600;
            text-transform: uppercase;

            &_second {
                margin-top: 19px;
            }
        }

        &__subtitle {
            margin-top: 13px;
            margin-left: 22px;
            color: $cyan-ease;
            font-family: Nunito;
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
        }

        &__items-wrapper {
            margin-top: 13px;
        }

        &__item {
            margin-top: 5px;
        }
    }

    &__btns {
        margin-top: 50px;
        position: absolute;
        right: 0;
        display: flex;
        width: 530px;
        justify-content: space-between;

        &__btn {
            width: 245px;
        }
    }
}

@media (max-width: 1230px) {
    .report {
        &__table {
            margin-top: 40px;

            &__item {
                &__text-wrapper {
                    width: 415px;
                }

                &__inputs-wrapper {
                    width: 368px;
                }

                &__input {
                    width: 175px;
                }
            }
        }
    }
}

@media (max-width: 930px) {
    .report {
        &__header {
            &__wrapper {
                flex-wrap: wrap;
            }

            &__item-date {
                display: none;
            }

            &__item-date-mobile {
                margin-left: 0;
                width: 100%;
                display: block;
                height: 50px;
            }

            &__item-date {
                &__date-form {
                    width: calc(50% - 10px);
                }
                &__date-forms-wrapper {
                    // width: 330px;
                }
            }

            &__btns {
                display: none;
            }

            &__btns-mobile {
                // position: relative;
                height: 32px;
                display: flex;
                top: 68px;
            }

            &__item-name {
                margin-top: 54px;
            }

            &__item-code {
                margin-top: 54px;
                width: 11%;
            }
        }

        &__table {
            &__item {
                &__text-wrapper {
                    width: 300px;
                }

                &__inputs-wrapper {
                    width: 270px;
                }

                &__input {
                    width: 130px;
                }
            }
        }
    }
}

@media (max-width: 680px) {
    .report {
        &__header {
            &__item {
                &__title {
                    font-size: 16px;
                    line-height: 110%;
                }
            }
            &__item-name {
                width: 116px;
            }

            &__item-code {
                margin-top: 54px;
                width: 65px;
            }

            &__btns-mobile {
                top: 74px;
            }
        }

        &__table {
            margin-top: 24px;
            &__item {
                &__text-wrapper {
                    width: 192px;
                }

                &__inputs-wrapper {
                    width: 210px;
                }

                &__input {
                    width: 94px;

                    &::-webkit-input-placeholder {
                        font-size: 0;
                    }
                }
            }
        }

        &__btns {
            margin-top: 40px;
            width: 100%;
            &__btn {
                width: 100%;
                margin: 0;
                &:first-child {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .report {
        &__header {
            &__item-date {
                height: auto;
                &__date-form {
                    height: 40px;
                }
            }

            &__item-name {
                margin-top: 78px;
            }

            &__item-code {
                margin-top: 78px;
            }

            &__btns-mobile {
                top: 88px;
            }
        }

        &__table {
            margin-top: 24px;

            &__title {
                margin-top: 31px;
                margin-left: 0;
            }

            &__item {
                margin-top: 28px;
                flex-wrap: wrap;

                &__text-wrapper {
                    width: 100%;
                }

                &__inputs-wrapper {
                    width: 100%;
                }

                &__input {
                    margin-top: 11px;
                    width: calc(50% - 11px);
                }
            }
        }
    }
}
