.index-table {
  min-height: 1018px;
  margin-top: 40px;
  overflow: hidden;
  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    overflow: hidden;
    display: inline;
    z-index: -1;
    width: inherit;
    // table-layout: auto;
    border-spacing: 0;
    position: absolute;
    left: 0;
    // transition-property: left;
    // transition-duration: 0.3s;
    transition: 0.3s all;
    width: auto;
  }

  &__item-header {
    position: relative;
    z-index: -1;
    // width: 183px;
    height: 126px;
    padding-top: 20px;
    text-align: center;
    background-color: $cyan-ease;
    color: $white-100;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
    text-indent: 0;
    vertical-align: top;

    &__divider {
      position: absolute;
      z-index: 3;
      bottom: 30px;
      height: 5px;
      width: calc(100% - 12px);
      background-color: $white-100;

      &_last {
        width: 100%;
        right: 0;
      }
    }

    &__text {
      margin: 0 auto;
      width: 173px;
    }
  }

  &__item-block {
    position: relative;
    padding: 20px 5px;
    // width: 183px;
    text-align: left;
    color: $deep-blue;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
    vertical-align: top;
    padding-bottom: 40px;

    &_gray {
      background-color: $gray-ease;
    }

    &_light {
      background-color: $white-100;
    }

    &__divider {
      position: absolute;
      z-index: 3;
      top: -5px;
      height: 5px;
      width: calc(100% - 12px);

      &_last {
        width: calc(100% - 6px);
        right: 0;
      }

      &_first {
        width: calc(100% - 6px);
        left: 0;
      }

      &_light {
        background-color: $white-100;
      }

      &_gray {
        background-color: $gray-ease;
      }
    }
  }

  &__arrows {
    position: absolute;
    display: flex;
    width: 223px;
    height: 34px;
    justify-content: space-between;
    top: 94px;
    left: 250px;
  }

  &__arrows {
    // display: none;
  }

  &__arrow {
    width: 34px;
    height: 34px;
    cursor: pointer;

    &_enabled {
      fill: $white-100;
    }

    &_disabled {
      fill: $dark-gray-ease;
    }
  }
}

.column {
  &_large {
    .index-table__item-header__text {
      width: 290px;
    }
  }

  &_medium {
    .index-table__item-header__text {
      width: 200px;
    }
  }
}

@media (max-width: 1230px) {
  .index-table {
    &__arrows {
      display: flex;
    }

    &__wrapper {
      width: auto;
    }
  }
}

@media (max-width: 930px) {
  .index-table {
    &__arrows {
      left: 100px;
    }
  }
}

@media (max-width: 680px) {
  .index-table {
    min-height: 1110px;
    &__wrapper {
      // width: 1000px;
    }

    &__item {
      // width: 216px;
    }

    // &__item-header {
    //   .index-table__item-header__text {
    //     width: 118px;
    //   }
    // }
  }

  .column {
    &_large {
      .index-table__item-header__text {
        width: 290px;
      }
    }
    &_medium {
      .index-table__item-header__text {
        width: 200px;
      }
    }
  }
}

@media (max-width: 480px) {
  .index-table {
    &__arrows {
      left: 50px;
    }

    &__item-header {
      .index-table__item-header__text {
        width: 118px;
      }
    }
  }

  .column {
    &_large {
      .index-table__item-header__text {
        width: 250px;
      }
    }

    &_medium {
      .index-table__item-header__text {
        width: 150px;
      }
    }
  }
}
