// libs
@import "libs/fonts";

// base
@import "base/variables";

// ui
@import "ui/header-btn";
@import "ui/filled-btn";
@import "ui/void-btn";
@import "ui/divider-line";

// sections
@import "sections/header";
@import "sections/solutions";
@import "sections/report-mini";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/body__bg.png") center center/cover no-repeat;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 1216px;
}
