.index-table {
    min-height: 1018px;
    margin-top: 40px;
    overflow: hidden;
    &::-webkit-scrollbar {
        display: none;
    }

    &__wrapper {
        overflow: hidden;
        z-index: -1;
        width: 1216px;
        border-spacing: 0;
        position: absolute;
        left: 0;
        // transition-property: left;
        // transition-duration: 0.3s;
        transition: 0.3s all;
    }

    &__item-header {
        position: relative;
        z-index: -1;
        width: 183px;
        height: 126px;
        padding-top: 20px;
        text-align: center;
        background-color: $cyan-ease;
        color: $white-100;
        font-family: Nunito;
        font-size: 16px;
        font-weight: 400;
        line-height: 110%; /* 17.6px */
        text-indent: 0;
        vertical-align: top;

        &:last-child {
            width: 300px;
        }

        &__divider {
            position: absolute;
            z-index: 3;
            bottom: 30px;
            height: 5px;
            width: calc(100% - 12px);
            background-color: $white-100;

            &_last {
                width: 100%;
                right: 0;
            }
        }

        &__text {
            margin: 0 auto;
            width: 173px;
        }
    }

    &__item-block {
        position: relative;
        padding: 20px 5px;
        width: 183px;
        text-align: left;
        color: $deep-blue;
        font-family: Nunito;
        font-size: 16px;
        font-weight: 400;
        line-height: 110%; /* 17.6px */
        vertical-align: top;
        padding-bottom: 40px;

        &_gray {
            background-color: $gray-ease;
        }

        &_light {
            background-color: $white-100;
        }

        &__divider {
            position: absolute;
            z-index: 3;
            top: -5px;
            height: 5px;
            width: calc(100% - 12px);

            &_last {
                width: calc(100% - 6px);
                right: 0;
            }

            &_first {
                width: calc(100% - 6px);
                left: 0;
            }

            &_light {
                background-color: $white-100;
            }

            &_gray {
                background-color: $gray-ease;
            }
        }
    }

    &__arrows {
        position: absolute;
        display: flex;
        width: 223px;
        height: 34px;
        justify-content: space-between;
        top: 94px;
        left: 250px;
    }

    &__arrows {
        display: none;
    }

    &__arrow {
        width: 34px;
        height: 34px;
        cursor: pointer;

        &_enabled {
            fill: $white-100;
        }

        &_disabled {
            fill: $dark-gray-ease;
        }
    }
}

@media (max-width: 1230px) {
    .index-table {
        &__arrows {
            display: flex;
        }
    }
}

@media (max-width: 930px) {
    .index-table {
        &__arrows {
            left: 100px;
        }
    }
}

@media (max-width: 680px) {
    .index-table {
        min-height: 1110px;
        &__wrapper {
            width: 880px;
        }

        &__item-block {
            width: 116px;
        }

        &__item-header {
            width: 116px;

            &__text {
                width: 106px;
            }
        }
    }
}

@media (max-width: 480px) {
    .index-table {
        &__arrows {
            left: 50px;
        }
    }
}
