.filled-btn {
    width: 245px;
    height: 60px;
    background-color: $cyan-ease;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 400;
    color: $white-100;
    cursor: pointer;

    &:hover {
        background-color: $blue-ease;
    }

    &:active {
        background-color: $deep-blue;
    }

    &:disabled {
        background-color: $disabled-btn-color;
    }
}
