.header-btn {
    padding: 12px 37px 12px 25px;
    background: inherit;
    border: none;
    border-radius: 4px;
    border: 3px solid $white-ease;
    border-left: 15px solid $white-ease;
    font-family: Nunito;
    font-size: 16px;
    line-height: 110%;
    font-weight: 400;
    color: $white-ease;
    text-transform: uppercase;
    cursor: pointer;
}
